PORT="${{PORT}}"  # o directamente no lo definas, Railway lo asigna
DB_HOST="${{MySQL.MYSQLHOST}}"
DB_PORT="${{MySQL.MYSQLPORT}}"
DB_USER="${{MySQL.MYSQLUSER}}"
DB_PASSWORD="${{MySQL.MYSQLPASSWORD}}"
DB_NAME="${{MySQL.MYSQLDATABASE}}"
JWT_SECRET="7fK9vQ2mX8rL4pN6zT1wC5yH9sD3jA8uE6bG2kM7qR5vX1nP4"
JWT_EXPIRES_IN="24h"
NODE_ENV="production"
FRONTEND_URL="https://barberia-trebol.netlify.app"
WHATSAPP_API_KEY=""
WHATSAPP_PHONE_NUMBER=""
EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_USER=""
EMAIL_PASS=""
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="V9!qR7tLm2@X8$pK4zN6"